@font-face {
    font-family: "iCiel_Bon_Vivant_Regular";
    src: url("iCiel_Bon_Vivant_Regular.woff") format('woff');
}

.nulmart-intro-name {
    font-family: "iCiel_Bon_Vivant_Regular";
    font-size: 3.5em;
}

.gm-control-active>img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.gm-control-active>img:nth-child(1) {
    display: block
}

.gm-control-active:focus>img:nth-child(1),
.gm-control-active:hover>img:nth-child(1),
.gm-control-active:active>img:nth-child(1),
.gm-control-active:disabled>img:nth-child(1) {
    display: none
}

.gm-control-active:focus>img:nth-child(2),
.gm-control-active:hover>img:nth-child(2) {
    display: block
}

.gm-control-active:active>img:nth-child(3) {
    display: block
}

.gm-control-active:disabled>img:nth-child(4) {
    display: block
}


.LGLeeN-keyboard-shortcuts-view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.LGLeeN-keyboard-shortcuts-view table,
.LGLeeN-keyboard-shortcuts-view tbody,
.LGLeeN-keyboard-shortcuts-view td,
.LGLeeN-keyboard-shortcuts-view tr {
    background: inherit;
    border: none;
    margin: 0;
    padding: 0
}

.LGLeeN-keyboard-shortcuts-view table {
    display: table
}

.LGLeeN-keyboard-shortcuts-view tr {
    display: table-row
}

.LGLeeN-keyboard-shortcuts-view td {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    color: #000;
    padding: 6px;
    vertical-align: middle;
    white-space: nowrap
}

.LGLeeN-keyboard-shortcuts-view td .VdnQmO-keyboard-shortcuts-view--shortcut-key {
    background-color: #e8eaed;
    border-radius: 2px;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    font-family: Google Sans Text, Roboto, Arial, sans-serif;
    line-height: 16px;
    margin: 0 2px;
    min-height: 20px;
    min-width: 20px;
    padding: 2px 4px;
    position: relative;
    text-align: center
}

.gm-style img {
    max-width: none;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.gm-ui-hover-effect {
    opacity: .6
}

.gm-ui-hover-effect:hover {
    opacity: 1
}

.gm-ui-hover-effect>span {
    background-color: #000
}

@media (forced-colors:active),
(prefers-contrast:more) {
    .gm-ui-hover-effect>span {
        background-color: ButtonText
    }
}

.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span,
.gm-style .gm-style-mtc div {
    font-size: 10px;
    box-sizing: border-box
}

.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span {
    outline-offset: 3px
}

@media print {

    .gm-style .gmnoprint,
    .gmnoprint {
        display: none
    }
}

@media screen {

    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none
    }
}

.dismissButton {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
    padding: 0 24px
}

.dismissButton:hover {
    background-color: rgba(66, 133, 244, .04);
    border: 1px solid #d2e3fc
}

.dismissButton:focus {
    background-color: rgba(66, 133, 244, .12);
    border: 1px solid #d2e3fc;
    outline: 0
}

.dismissButton:focus:not(:focus-visible) {
    background-color: #fff;
    border: 1px solid #dadce0;
    outline: none
}

.dismissButton:focus-visible {
    background-color: rgba(66, 133, 244, .12);
    border: 1px solid #d2e3fc;
    outline: 0
}

.dismissButton:hover:focus {
    background-color: rgba(66, 133, 244, .16);
    border: 1px solid #d2e2fd
}

.dismissButton:hover:focus:not(:focus-visible) {
    background-color: rgba(66, 133, 244, .04);
    border: 1px solid #d2e3fc
}

.dismissButton:hover:focus-visible {
    background-color: rgba(66, 133, 244, .16);
    border: 1px solid #d2e2fd
}

.dismissButton:active {
    background-color: rgba(66, 133, 244, .16);
    border: 1px solid #d2e2fd;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15)
}

.dismissButton:disabled {
    background-color: #fff;
    border: 1px solid #f1f3f4;
    color: #3c4043
}

.gm-style-moc {
    background-color: rgba(0, 0, 0, .45);
    pointer-events: none;
    text-align: center;
    transition: opacity ease-in-out
}

.gm-style-mot {
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.typography-menu,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.header-section,
.nav-links,
#cancel-comment-reply-link {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.typography-section-heading {
    font-family: "Alex Brush";
}

.typography-title,
.typography-heading,
h1,
h2,
h3,
h4,
h5,
h6,
.comment-reply-title,
.comments-title,
#gwolle_gb_new_entry h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

/* Layout 8 */
#pgc-8-0-0,
#pgc-8-1-0,
#pgc-8-2-0,
#pgc-8-3-0,
#pgc-8-4-0,
#pgc-8-5-0,
#pgc-8-7-0,
#pgc-8-8-0,
#pgc-8-9-0,
#pgc-8-10-0 {
    width: 100%;
    width: calc(100% - (0 * 30px))
}

#pg-8-0,
#pg-8-1,
#pg-8-2,
#pg-8-3,
#pg-8-4,
#pg-8-5,
#pg-8-6,
#pg-8-7,
#pg-8-8,
#pg-8-9,
#pg-8-10,
#pl-8 .so-panel:last-of-type {
    margin-bottom: 0px
}

#pl-8 .so-panel {
    margin-bottom: 30px
}

#pg-8-0>.panel-row-style,
#pg-8-2>.panel-row-style,
#pg-8-5>.panel-row-style,
#pg-8-7>.panel-row-style,
#pg-8-9>.panel-row-style {
    padding: 100px 0px
}

#panel-8-0-0-0>.panel-widget-style {
    margin-bottom: 2em
}

#pg-8-1>.panel-row-style {
    background-color: #ecf2f0;
    padding: 60px 0px
}

#pg-8-3>.panel-row-style,
#pg-8-10>.panel-row-style {
    background-color: #f6f4f2;
    padding: 100px 0px
}

#pg-8-4>.panel-row-style {
    background-color: #f6f4f2;
    padding: 0px
}

#pg-8-6>.panel-row-style {
    background-color: #b4d2c8;
    /* background-image: url(https://demo.singlestroke.io/nulmart/wp-content/uploads/2015/11/rsvp.jpg); */
    padding: 60px 0px
}

#panel-8-6-1-0>.panel-widget-style {
    background-color: #ffffff;
    padding: 3em;
    margin-bottom: -30px
}

#panel-8-6-1-1>.panel-widget-style {
    background-color: #ffffff;
    padding: 0em 3em 3em
}

#panel-8-7-0-2>.panel-widget-style {
    margin-top: 8em
}

#pg-8-8>.panel-row-style {
    background-color: #c3bbab;
    /* background-image: url(https://demo.singlestroke.io/nulmart/wp-content/uploads/2015/11/quote.jpg); */
    padding: 90px 0px 30px
}

#panel-8-8-0-0>.panel-widget-style {
    color: #ffffff
}

@media (max-width:767px) {

    #pg-8-0.panel-no-style,
    #pg-8-0.panel-has-style>.panel-row-style,
    #pg-8-0,
    #pg-8-1.panel-no-style,
    #pg-8-1.panel-has-style>.panel-row-style,
    #pg-8-1,
    #pg-8-2.panel-no-style,
    #pg-8-2.panel-has-style>.panel-row-style,
    #pg-8-2,
    #pg-8-3.panel-no-style,
    #pg-8-3.panel-has-style>.panel-row-style,
    #pg-8-3,
    #pg-8-4.panel-no-style,
    #pg-8-4.panel-has-style>.panel-row-style,
    #pg-8-4,
    #pg-8-5.panel-no-style,
    #pg-8-5.panel-has-style>.panel-row-style,
    #pg-8-5,
    #pg-8-6.panel-no-style,
    #pg-8-6.panel-has-style>.panel-row-style,
    #pg-8-6,
    #pg-8-7.panel-no-style,
    #pg-8-7.panel-has-style>.panel-row-style,
    #pg-8-7,
    #pg-8-8.panel-no-style,
    #pg-8-8.panel-has-style>.panel-row-style,
    #pg-8-8,
    #pg-8-9.panel-no-style,
    #pg-8-9.panel-has-style>.panel-row-style,
    #pg-8-9,
    #pg-8-10.panel-no-style,
    #pg-8-10.panel-has-style>.panel-row-style,
    #pg-8-10 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #pg-8-0>.panel-grid-cell,
    #pg-8-0>.panel-row-style>.panel-grid-cell,
    #pg-8-1>.panel-grid-cell,
    #pg-8-1>.panel-row-style>.panel-grid-cell,
    #pg-8-2>.panel-grid-cell,
    #pg-8-2>.panel-row-style>.panel-grid-cell,
    #pg-8-3>.panel-grid-cell,
    #pg-8-3>.panel-row-style>.panel-grid-cell,
    #pg-8-4>.panel-grid-cell,
    #pg-8-4>.panel-row-style>.panel-grid-cell,
    #pg-8-5>.panel-grid-cell,
    #pg-8-5>.panel-row-style>.panel-grid-cell,
    #pg-8-6>.panel-grid-cell,
    #pg-8-6>.panel-row-style>.panel-grid-cell,
    #pg-8-7>.panel-grid-cell,
    #pg-8-7>.panel-row-style>.panel-grid-cell,
    #pg-8-8>.panel-grid-cell,
    #pg-8-8>.panel-row-style>.panel-grid-cell,
    #pg-8-9>.panel-grid-cell,
    #pg-8-9>.panel-row-style>.panel-grid-cell,
    #pg-8-10>.panel-grid-cell,
    #pg-8-10>.panel-row-style>.panel-grid-cell {
        width: 100%;
        margin-right: 0
    }

    #pgc-8-6-0,
    #pgc-8-6-1 {
        margin-bottom: 30px
    }

    #pl-8 .panel-grid-cell {
        padding: 0
    }

    #pl-8 .panel-grid .panel-grid-cell-empty {
        display: none
    }

    #pl-8 .panel-grid .panel-grid-cell-mobile-last {
        margin-bottom: 0px
    }
}

#preloader,
.pace-progress {
    background-color: #b4d2c8;
}

a {
    color: #b4d2c8;
}

.nulmart-sow-gallery-grid-filters a.active {
    border-color: #b4d2c8;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.wp-block-file .wp-block-file__button {
    background-color: #b4d2c8;
    border-color: #b4d2c8;
    color: #ffffff;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.wp-block-button__link:focus,
.wp-block-file .wp-block-file__button:focus,
.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.wp-block-button__link:active,
.wp-block-file .wp-block-file__button:active {
    background-color: #bcd7ce;
    border-color: #bcd7ce;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.wp-block-button__link:focus,
.wp-block-file .wp-block-file__button:focus,
.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.wp-block-button__link:active,
.wp-block-file .wp-block-file__button:active {
    color: #ffffff;
}

.header-section,
.header-navigation ul ul {
    background-color: #ffffff;
}

.header-section,
.header-navigation ul ul,
.header-navigation ul ul li {
    border-color: #e5e5e5;
}

.header-section,
.header-section a,
.header-navigation-toggle {
    color: #888888;
}

.header-section a:hover,
.header-section a:focus,
.header-navigation-toggle:hover,
.header-navigation-toggle:focus {
    color: #444444;
}

.header-navigation>div>ul>li>a:hover:after,
.header-navigation>div>ul>li>a.focus:after {
    background-color: #b4d2c8;
}

.header-section .ribbon-menu,
.header-section .ribbon-menu:hover,
.header-section .ribbon-menu:focus {
    background-color: #b4d2c8;
    color: #ffffff;
}

.header-section .ribbon-menu:after {
    border-color: #b4d2c8;
}

.sakura.hero-effect-item {
    background: #909090;
}

.hero-button,
.hero-button:hover,
.hero-button:focus {
    color: #ffffff;
}

.footer-section {
    padding: 15% 0 3em;
    background-image: url(https://demo.singlestroke.io/nulmart/wp-content/uploads/2015/11/footer.jpg);
    background-position: center bottom;
    color: #e5e5e5;
}

.footer-section a,
.footer-section a:hover,
.footer-section a:focus {
    color: #ffffff;
}

.page-template-invitation {
    background-color: #c8dcd2;
    background-image: url(https://demo.singlestroke.io/nulmart/wp-content/uploads/2015/11/invitation-bg.jpg);
}

@media screen and (max-width: 1023px) {
    .header-navigation>div {
        background-color: #ffffff;
    }

    .header-navigation>div>ul,
    .header-navigation li {
        border-color: #e5e5e5;
    }
}

.fadein {
    animation: fadein ease 2s;
}

.fadeout {
    animation: fadeout ease 2s;
}

.banner-bg-hidden {
    visibility: hidden;
}

.banner-bg > img {
  opacity: 0.5;
}



@media screen and (min-width: 600px) {
  .banner-bg > img {
    margin: auto;
    max-height: 100%;
  }

  .banner-bg-first {
    float: left;
    max-width: 33%;
    height: 100%;
    object-fit: cover;
  }

  .banner-bg-second {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .banner-bg-third {
    float: right;
    max-width: 33%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-bg {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .banner-bg-first, .banner-bg-third {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
  }

  .banner-bg-second {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .banner-bg-third {
    position: absolute;
    bottom: 0;
  }
}


@keyframes fadein {
    0% { opacity: 0;}
    100% {opacity: 0.5;}
}

@keyframes fadeout {
    0% { opacity: 0.5;}
    100% {opacity: 0;}
}

.full-width{
    width: 100% !important;
}