<div id="hero-logo" class="hero-logo" style="opacity: 1;">
  <div class="wrapper">
    <div class="hero-logo-image">
      <img src="photos/logo-image.png" class="attachment-full size-full" alt="Hoàng &amp; Trâm" loading="lazy"
        srcset="photos/logo-image.png 400w, photos/logo-image.png 150w, photos/logo-image.png 300w"
        sizes="(max-width: 400px) 100vw, 400px" width="400" height="400">
    </div>
    <div class="hero-action">
      <a href="#intro" class="hero-button anchor-link">
        <i class="fa fa-angle-double-down"></i>
      </a>
    </div>
  </div>
</div>