<div id="pg-8-1" class="panel-grid panel-has-style">
  <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-8-1" data-stretch-type="full" id="countdown"
    data-nulmart-anchor="countdown"
    style="border-left: 0px none; border-right: 0px none;">
    <div id="pgc-8-1-0" class="panel-grid-cell" style="margin: auto">
      <div id="panel-8-1-0-0" class="so-panel widget widget_nulmart-sow-countdown panel-first-child panel-last-child"
        data-index="2">
        <div class="nulmart-animation-fade-in panel-widget-style nulmart-animate">
          <div class="so-widget-nulmart-sow-countdown so-widget-nulmart-sow-countdown-default-d75171398898-7">
            <div class="nulmart-sow-countdown align-center" data-nulmart-target="{{ site.info.en.wedding.datetime }}"
              data-nulmart-build="m_n_H_M_S">
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-months" data-nulmart-format="m"
                data-nulmart-singular="month" data-nulmart-plural="months">
                <big>00</big><small>month</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-days" data-nulmart-format="n"
                data-nulmart-singular="day" data-nulmart-plural="days">
                <big>00</big><small>day</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-hours" data-nulmart-format="H"
                data-nulmart-singular="hour" data-nulmart-plural="hours">
                <big>00</big><small>hour</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-minutes" data-nulmart-format="M"
                data-nulmart-singular="minute" data-nulmart-plural="minutes">
                <big>00</big><small>minute</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-seconds" data-nulmart-format="S"
                data-nulmart-singular="second" data-nulmart-plural="seconds">
                <big>00</big><small>second</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>