<div id="pg-8-1" class="panel-grid panel-has-style">
  <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-8-1" data-stretch-type="full" id="countdown"
    data-nulmart-anchor="countdown"
    style="border-left: 0px none; border-right: 0px none;">
    <div id="pgc-8-1-0" class="panel-grid-cell" style="margin: auto">
      <div id="panel-8-1-0-0" class="so-panel widget widget_nulmart-sow-countdown panel-first-child panel-last-child"
        data-index="2">
        <div class="nulmart-animation-fade-in panel-widget-style nulmart-animate">
          <div class="so-widget-nulmart-sow-countdown so-widget-nulmart-sow-countdown-default-d75171398898-7">
            <div class="nulmart-sow-countdown align-center" data-nulmart-target="{{ site.info.vi.wedding.datetime }}"
              data-nulmart-build="m_n_H_M_S">
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-months" data-nulmart-format="m"
                data-nulmart-singular="tháng" data-nulmart-plural="tháng">
                <big>00</big><small>tháng</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-days" data-nulmart-format="n"
                data-nulmart-singular="ngày" data-nulmart-plural="ngày">
                <big>00</big><small>ngày</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-hours" data-nulmart-format="H"
                data-nulmart-singular="giờ" data-nulmart-plural="giờ">
                <big>00</big><small>giờ</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-minutes" data-nulmart-format="M"
                data-nulmart-singular="phút" data-nulmart-plural="phút">
                <big>00</big><small>phút</small>
              </div>
              <div class="nulmart-sow-countdown-fragment nulmart-sow-countdown-seconds" data-nulmart-format="S"
                data-nulmart-singular="giây" data-nulmart-plural="giây">
                <big>00</big><small>giây</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>