<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div style="max-width: 200px;">
          <script type='text/javascript' id='clustrmaps'
            src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=Cz8CRoxuKq0iQwkR7AZ_oitcnUwEnhSF3KBo8HOxqG0&co=b4d2c8'></script>
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      </div>
    </div>
  </div>

</footer>