<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link type="text/css" rel="stylesheet" href="css/main.css">

  <link type="text/css" rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&amp;lang=en">
  <link type="text/css" rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+Sans+Text:400&amp;text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93&amp;lang=en">

  <script defer=""
      src="data:text/javascript;base64,DQoJCXBhY2VPcHRpb25zID0gew0KCQkJdGFyZ2V0OiAnI3ByZWxvYWRlciAucHJlbG9hZGVyLWNvbnRlbnQnLA0KCQl9DQoJCQ=="></script>
  <meta name="robots" content="max-image-preview:large">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="stylesheet" id="wp-block-library-css" href="css/style.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="contact-form-7-css" href="css/autoptimize_single_76e12144b6be9bc0a17dd880c5566156.css"
      type="text/css" media="all">
  <link rel="stylesheet" id="siteorigin-panels-front-css" href="css/front-flex.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Alex+Brush%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i&amp;subset=latin"
      type="text/css" media="all">
  <link rel="stylesheet" id="font-awesome-css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="flickity-css" href="css/flickity.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="nulmart-css" href="css/autoptimize_single_e0fb843887f93314531294c208279998.css"
      type="text/css" media="all">
  <script defer="" type="text/javascript" src="js/jquery.min.js" id="jquery-core-js"></script>
  <script defer="" type="text/javascript" src="js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
  <script defer="" type="text/javascript" src="js/pace.min.js" id="pace-js"></script>
</head>