<div id="hero-effect" class="hero-effect" data-nulmart-effect="petal" style="overflow-x: hidden;">
    <div class="sakura hero-effect-item petal"
        style="animation: 9.131s linear 0s 1 normal none running fall, 11s linear 0s infinite normal none running blow-medium-left, 4s linear 0s infinite normal none running sway-4; border-radius: 15px 3px; height: 13px; left: 535.93px; margin-top: -23px; width: 13px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 10.131s linear 0s 1 normal none running fall, 29s linear 0s infinite normal none running blow-medium-left, 2s linear 0s infinite normal none running sway-0; border-radius: 14px 2px; height: 13px; left: 427.004px; margin-top: -21px; width: 13px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 10.131s linear 0s 1 normal none running fall, 12s linear 0s infinite normal none running blow-medium-right, 4s linear 0s infinite normal none running sway-6; border-radius: 15px 1px; height: 10px; left: 466.899px; margin-top: -21px; width: 7px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 8.131s linear 0s 1 normal none running fall, 25s linear 0s infinite normal none running blow-medium-right, 4s linear 0s infinite normal none running sway-5; border-radius: 16px 2px; height: 13px; left: 480.786px; margin-top: -23px; width: 12px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 7.131s linear 0s 1 normal none running fall, 13s linear 0s infinite normal none running blow-medium-right, 2s linear 0s infinite normal none running sway-8; border-radius: 14px 1px; height: 14px; left: 91.1805px; margin-top: -22px; width: 12px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 8.131s linear 0s 1 normal none running fall, 13s linear 0s infinite normal none running blow-soft-left, 3s linear 0s infinite normal none running sway-3; border-radius: 14px 1px; height: 10px; left: 610.07px; margin-top: -27px; width: 8px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 9.131s linear 0s 1 normal none running fall, 15s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-4; border-radius: 15px 1px; height: 11px; left: 216.816px; margin-top: -29px; width: 11px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 7.131s linear 0s 1 normal none running fall, 28s linear 0s infinite normal none running blow-soft-right, 2s linear 0s infinite normal none running sway-7; border-radius: 15px 2px; height: 10px; left: 533.461px; margin-top: -20px; width: 9px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 7.131s linear 0s 1 normal none running fall, 27s linear 0s infinite normal none running blow-medium-left, 4s linear 0s infinite normal none running sway-7; border-radius: 15px 1px; height: 14px; left: 452.603px; margin-top: -33px; width: 12px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 9.131s linear 0s 1 normal none running fall, 26s linear 0s infinite normal none running blow-soft-right, 2s linear 0s infinite normal none running sway-5; border-radius: 15px 3px; height: 13px; left: 420.272px; margin-top: -19px; width: 13px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 9.131s linear 0s 1 normal none running fall, 14s linear 0s infinite normal none running blow-medium-right, 2s linear 0s infinite normal none running sway-0; border-radius: 17px 2px; height: 13px; left: -17.169px; margin-top: -30px; width: 13px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 7.131s linear 0s 1 normal none running fall, 30s linear 0s infinite normal none running blow-soft-left, 3s linear 0s infinite normal none running sway-6; border-radius: 17px 2px; height: 11px; left: 579.401px; margin-top: -30px; width: 11px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 8.131s linear 0s 1 normal none running fall, 29s linear 0s infinite normal none running blow-medium-left, 2s linear 0s infinite normal none running sway-1; border-radius: 19px 3px; height: 12px; left: 507.525px; margin-top: -16px; width: 12px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 8.131s linear 0s 1 normal none running fall, 10s linear 0s infinite normal none running blow-soft-left, 4s linear 0s infinite normal none running sway-4; border-radius: 19px 3px; height: 14px; left: 90.0758px; margin-top: -24px; width: 13px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 6.131s linear 0s 1 normal none running fall, 10s linear 0s infinite normal none running blow-medium-left, 3s linear 0s infinite normal none running sway-5; border-radius: 15px 1px; height: 12px; left: 304.966px; margin-top: -32px; width: 12px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 6.131s linear 0s 1 normal none running fall, 24s linear 0s infinite normal none running blow-soft-left, 2s linear 0s infinite normal none running sway-6; border-radius: 14px 2px; height: 14px; left: 587.074px; margin-top: -33px; width: 11px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 10.131s linear 0s 1 normal none running fall, 16s linear 0s infinite normal none running blow-soft-left, 3s linear 0s infinite normal none running sway-5; border-radius: 16px 1px; height: 10px; left: 297.797px; margin-top: -24px; width: 9px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 8.131s linear 0s 1 normal none running fall, 21s linear 0s infinite normal none running blow-medium-right, 4s linear 0s infinite normal none running sway-1; border-radius: 16px 1px; height: 12px; left: 45.0131px; margin-top: -33px; width: 10px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 6.131s linear 0s 1 normal none running fall, 29s linear 0s infinite normal none running blow-medium-left, 3s linear 0s infinite normal none running sway-7; border-radius: 16px 2px; height: 11px; left: 435.38px; margin-top: -29px; width: 11px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 6.131s linear 0s 1 normal none running fall, 19s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-0; border-radius: 14px 2px; height: 10px; left: 614.642px; margin-top: -24px; width: 9px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 9.131s linear 0s 1 normal none running fall, 28s linear 0s infinite normal none running blow-medium-right, 4s linear 0s infinite normal none running sway-0; border-radius: 16px 1px; height: 11px; left: 384.104px; margin-top: -23px; width: 8px;">
    </div>
    <div class="sakura hero-effect-item petal"
        style="animation: 10.131s linear 0s 1 normal none running fall, 12s linear 0s infinite normal none running blow-soft-right, 2s linear 0s infinite normal none running sway-2; border-radius: 14px 2px; height: 11px; left: 633.802px; margin-top: -25px; width: 9px;">
    </div>
</div>