<div id="pg-8-6" class="panel-grid panel-has-style">
  <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-8-6" data-stretch-type="full" id="wishes"
    data-nulmart-anchor="wishes" style="background-color: #ffffff">
    <div id="pgc-8-6-1" class="panel-grid-cell panel-grid-cell-mobile-last" style="margin: auto">
      <div id="panel-8-6-1-0" class="so-panel widget widget_nulmart-sow-section-heading panel-first-child"
        data-index="10">
        <div class="panel-widget-style">
          <header class="nulmart-sow-section-header align-center">
            <h2 class="nulmart-sow-section-heading typography-section-heading" style="color: #dcc8b4">
              {{ site.info.vi.wishes_title }}
            </h2>
            <p class="nulmart-sow-section-subheading" style="color: #888888">
            </p>
          </header>
        </div>
      </div>
      <div id="panel-8-6-1-1" class="so-panel widget widget_nulmart-sow-rsvp-form panel-last-child" data-index="11">
        <div class="panel-widget-style">
          <form action="https://api.sheetmonkey.io/form/rNsRVPBrQHNmMvs5fbyBSm" method="post">
            <input type="hidden" name="Thời gian" value="x-sheetmonkey-current-date-time" />
            <p>
              <label>Tên của bạn</label>
              <br>
              <input type="text" name="Tên" value="" size="40" class="input-block" aria-required="true"
                aria-invalid="false">
            </p>
            <p>
              <label>Lời chúc</label>
              <br>
              <textarea name="Lời chúc" cols="40" rows="3" class="input-block" aria-invalid="false"></textarea>
            </p>
            <p><input type="submit" value="Gửi lời chúc" class="input-block"><span class="ajax-loader"></span></p>
          </form>
        </div>
      </div>
    </div>
    <div id="pgc-8-6-2" class="panel-grid-cell panel-grid-cell-empty"></div>
  </div>
</div>