---
layout: page
---

<div id="hero" class="hero-section">
  {% include banner-bg.html %}

  {% include sakura-effect.html %}

  {% include banner.html %}
</div>
<div id="header" class="header-anchor header-anchor-bottom">
  {% include header-vi.html %}
</div>
<div id="content" class="site-content content-section">
  <div class="wrapper">
    <div id="primary" class="content-area no-sidebar">
      <main id="main" class="site-main" role="main">
        <article id="post-8" class="post-8 page type-page status-publish hentry">
          <div class="entry-content">
            <div id="pl-8" class="panel-layout">
              <div id="pg-8-0" class="panel-grid panel-has-style">
                <div id="intro" data-nulmart-anchor="intro" class="panel-row-style panel-row-style-for-8-0">
                  <div id="pgc-8-0-0" class="panel-grid-cell" style="margin: auto">
                    <div id="panel-8-0-0-0" class="so-panel widget widget_nulmart-intro panel-first-child"
                      data-index="0">
                      <div class="nulmart-animation-fade-in panel-widget-style nulmart-animate align-center">
                        <div class="so-widget-nulmart-intro so-widget-nulmart-intro-default-d75171398898-7">
                          <div class="nulmart-intro align-center">
                            <div class="nulmart-intro-groom">
                              <div class="nulmart-intro-name">
                                {{ site.info.vi.groom_name }}
                              </div>
                            </div>
                            <div class="nulmart-intro-separator ">
                              <div class="nulmart-intro-name">
                                &amp;
                              </div>
                            </div>
                            <div class="nulmart-intro-bride ">
                              <div class="nulmart-intro-name">
                                {{ site.info.vi.bride_name }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="panel-8-0-0-1" class="so-panel widget widget_nulmart-sow-section-heading panel-last-child"
                      data-index="1">
                      <div class="nulmart-animation-fade-in panel-widget-style nulmart-animate">
                        <div
                          class="so-widget-nulmart-sow-section-heading so-widget-nulmart-sow-section-heading-default-d75171398898-7">
                          <header class="nulmart-sow-section-header align-center">
                            <h2 class="nulmart-sow-section-heading typography-section-heading" style="color: #dcc8b4">
                              {{ site.info.vi.wedding_quote }}
                            </h2>
                            <p class="nulmart-sow-section-subheading" style="color: #888888">
                              {{ site.info.vi.wedding_date }}
                            </p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <br /> -->

              {% include count-down-timer-vi.html %}

              {% include when-where-vi.html %}

              {% include wishes-form-vi.html %}

              {% include captured-moments-vi.html %}

              <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/784595404?h=91419d5f49&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="31-12-2022.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>